/* _content/BANSACH/Areas/Admin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-kqwunbdlwe] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-kqwunbdlwe] {
  color: #0077cc;
}

.btn-primary[b-kqwunbdlwe] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-kqwunbdlwe], .nav-pills .show > .nav-link[b-kqwunbdlwe] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-kqwunbdlwe] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-kqwunbdlwe] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-kqwunbdlwe] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-kqwunbdlwe] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-kqwunbdlwe] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BANSACH/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-6miyyseppf] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-6miyyseppf] {
  color: #0077cc;
}

.btn-primary[b-6miyyseppf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-6miyyseppf], .nav-pills .show > .nav-link[b-6miyyseppf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-6miyyseppf] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-6miyyseppf] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-6miyyseppf] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-6miyyseppf] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-6miyyseppf] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BANSACH/Views/Shared/_Layout1.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-6o1acgqixu] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-6o1acgqixu] {
  color: #0077cc;
}

.btn-primary[b-6o1acgqixu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-6o1acgqixu], .nav-pills .show > .nav-link[b-6o1acgqixu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-6o1acgqixu] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-6o1acgqixu] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-6o1acgqixu] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-6o1acgqixu] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-6o1acgqixu] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BANSACH/Views/Shared/_Layout3.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-uslkr25d7j] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-uslkr25d7j] {
  color: #0077cc;
}

.btn-primary[b-uslkr25d7j] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-uslkr25d7j], .nav-pills .show > .nav-link[b-uslkr25d7j] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-uslkr25d7j] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-uslkr25d7j] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-uslkr25d7j] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-uslkr25d7j] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-uslkr25d7j] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
