<div  id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="DetailModalTitle" class="modal fade" aria-modal="true">
   <div  class="modal-dialog">
      <div  class="modal-content">
         <div  class="modal-header bg-primary">
            <h5  id="DetailModalTitle" class="modal-title white">Chi tiết đánh giá</h5>
            <button  type="button" data-dismiss="modal" aria-label="Close" class="close"><span  aria-hidden="true">×</span></button>
         </div>
         <div  class="modal-body">
            <table  class="table row table-borderless w-100 m-0 border">
               <tbody  class="col-lg-12 p-0">
                  <tr >
                     <td  class="h3-strong">
                        <h3 ><strong > Thông tin chi tiết</strong></h3>
                     </td>
                  </tr>
                  <tr >
                     <td >
                        Tên khách hàng: <strong class="full_name"> </strong>
                     </td>
                  </tr>
                  <tr >
                     <td >
                        Số điện thoại: <strong class="phone"></strong>
                     </td>
                  </tr>
                  <tr >
                     <td >
                        Ngày gửi: <strong class="date_str"></strong>
                     </td>
                  </tr>
                  <tr >
                     <td >
                        Ghi chú: <strong class="comment"> </strong>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div  class="modal-footer"><button  type="button" data-dismiss="modal" class="btn btn-secondary btn-3d">Đóng</button></div>
      </div>
   </div>
</div>